{
  "plugins": [
    // TODO: inline require() calls

    "babel-plugin-minify-dead-code-elimination",
    "babel-plugin-transform-undefined-to-void", // undefined => void 0
    "babel-plugin-idx",
    [
      "relay",
      {
        "schema": "schema.graphql"
      }
    ]
  ],
  "presets": ["babel-preset-expo"]
}
