{
  "presets": [
    "babel-preset-expo"
  ],
  "plugins": [
    "babel-plugin-idx",
    [
      "relay",
      {
        "schema":
        "packages/api/schema.graphql"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
